<h2 class="text-center">Edit Reservation</h2>

<%= render 'form', reservation: @reservation %>
<div>
  <%= link_to 'Show', @reservation, class: 'btn btn-sm btn-info' %> |
  <%= link_to 'Back', reservations_path, class: 'btn btn-sm btn-default' %>
</div>

